body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ece6e6;
}

.calculator-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
}

.calculator-container h1,
h2 {
    text-align: center;
    margin-bottom: 20px;
}

.calculator {
    display: flex;
    gap: 20px;
}

.left-column,
.right-column {
    flex: 1;

}
.error-message {
    color: red;
    margin-top:0.5em;
    font-size: 12px;
    height: 13px; 
}
.input-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.input-section label {
    margin-bottom: 5px;
}

.input-section input[type="number"],
.input-section select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

.form-group input[type="range"] {
    width: 100%;
}
.leasing-details {
    display: flex;;
    margin-top: 20px;
    text-align: center;
}

.leasing-details h2 {
    margin-bottom: 10px;
}

.leasing-details p {
    margin: 5px 0;
}

.right-column-details,
.left-column-details {
    flex: 1;
}

.right-column-details {
    border-left: 1px solid black;
}

@media (max-width: 600px) {
    .calculator {
        flex-direction: column;
    }

    .left-column,
    .right-column {
        min-width: 100%;
    }

    .right-column-details,
    .left-column-details {
        min-width: 100%;
    }

    .right-column-details {
        border: 0px;
    }
    .leasing-details{
        flex-direction: column;
    }
}